<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Senior Leaves</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <center>
  <body>
  <form action="/loadHomepage" class="admin" method="GET">
    <input type="submit" class="admin" value="Homepage">
  </form>
    <div class=login>
      <h1>Admin Login</h1>
      
     
      <form action="/loadAdminPortal" method="POST">
        <input type="password" id="SearchInputAdminLogin" name="passwordAttempt" placeholder="Password">
        <input type="submit" name="BWare" class="submitButton">
      </form>
    

    </div>
  </body>
  </center>
</html>