<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Senior Leaves</title>
  <link rel="stylesheet" href="/style.css">
</head>

<form action="/loadAdminLogin" class="admin" method="GET">
  <input type="submit" class="admin" value="Admin Login">
</form>




<body>
  <center>
  <div class="login">
    <div id="seniorLeaves">
      <strong>Senior Leaves</strong>
    </div>


    <form action="/loadUpdatePage" id="sumbit" method = "POST">
      <input type="text" id="UNInput" name="UNInput" placeholder="Username">
      <input type="password" id="UNInput" name="PWInput" placeholder="Password">
      <br>
      <input type="submit" class="submitButton" value="Login">
    </form>
    

  </div>
  </center> 
</body>
