<!DOCTYPE html>
<html>
{{#llamas}}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wow</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <form action="/" method="GET">
    <button class="admin" value="admin">
      Admin Login
    </button>
  </form>
  <form action="/loadHomepage" class="admin" method="GET">
    <input type="submit" class="admin" value="Logout">
  </form>
    <center>
      <div class="login">
        <span id="user">{{name}}</span> 
        <br>

        <div class="remainingleaves"> Remaining Leaves: {{remainingleaves}}</div>
        
        <table class ="admin_table" name="table" style="width:100%">
          <tr>
            <th>Date</th>
            <th>Time Left</th> 
            <th>Time Returned</th> 
            <th>Status</th>
          </tr>
          <tr>
            <td>{{mostrecentleave}}</td>   
            <td>{{starttime}}</td>
            <td>{{time1b}}</td> 
            <td>{{status}}</td>        
          </tr>
       
        </table>
        

        </div>
      
    
      </div>
     
 
    </center>

  </body>
{{/llamas}}
</html>