<!DOCTYPE html>
<html>
{{#llamas}}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wow</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <form action="/loadAdminLogin" method="GET" class="admin">
    <button class="admin" value="Admin">
      Admin Login
    </button>
  </form>
  <form action="/" class="admin" method="GET">
    <input type="submit" class="admin" value="Logout">
  </form>  
  <button class="admin" onclick="goBack()">
    Go Back
  </button>
    <center>
      <div class="login">
        <span id="user">{{name}}</span> 
        <br>
        
        <table class ="admin_table" name="table" style="width:100%">
          <tr>
            <th>Date</th>
            <th>Time Left</th> 
            <th>Time Returned</th> 
            <th>Status</th>
            <th>Leaves Used</th>
          </tr>
          <tr>
            <td>{{mostrecentleave}}</td>   
            <td>{{starttime}}</td>
            <td>{{endtime}}</td> 
            <td>{{status}}</td> 
            <td>{{leavesUsed}}</td>
          </tr>
       
        </table>
        

        </div>
      
    
      </div>
     
 
    </center>

  </body>
{{/llamas}}
</html>



<script>
function goBack() {
    window.history.back();
}
</script>