<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wow</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <form action="/" method="GET">
    <button class="admin" value="admin">
      Admin Login
    </button>
  </form>
  <form action="/loadHomepage" class="admin" method="GET">
    <input type="submit" class="admin" value="Logout">
  </form>
    <center>
      <div class="login">
        <span id="user">Username: {{llamas}}</span> 

        <div class="remainingleaves"> Remaining Leaves</div>
        
        <table id ="table" name="table" style="width:100%">
          <tr>
            <th>Date</th>
            <th>Time Left</th> 
            <th>Time</th> 
          </tr>
          <tr>
            <td>{{date1}}</td>   
            <td>{{time1a}}</td>
            <td>{{time1b}}</td>         
          </tr>
          <tr> 
            <td>{{date2}}</td>   
            <td>{{time2a}}</td>
            <td>{{time2b}}</td>    
          </tr>
       
        </table>
        

        </div>
      
    
      </div>
     
 
    </center>

  </body>

</html>