<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Senior Leaves</title>
  <link rel="stylesheet" href="/style.css">
</head>

<form action="/loadHomepage" class="admin" method="GET">
    <input type="submit" class="admin" value="Homepage">
</form>
<form action="/loadHomepage" class="admin" method="GET">
    <input type="submit" class="admin" value="Logout">
</form>


<body>
  <center>
  <div class="login">
    <div id="seniorLeaves">
      <strong>User Profile Login</strong>
    </div>


    <form action="/loadProfile" id="sumbit" method = "POST">
      <input type="password" id="UNInputProfile" name="UNInputProfile">
      <input type="submit" class="submitButton" value="Login">
    </form>
    

  </div>
  </center> 
</body>
